
<div class="container" >
    <img class="img" src="{{product.thumbnail}}">
    <div class="card1">
        <h2 style="color: navy;">{{product.title}}</h2>
        
        <p class="p-descritp">Product Description :<br><span class="sec-p-decs">{{product.description}}</span>
        </p>
        <p class="price">₹ {{product.price}} /-</p>
        <div>
            <button class="btn-add-to-cart">Add To Cart</button>
            <button class="btn-buy-now">Buy Now</button>  
        </div>
        
    </div>
    
</div>
<button class="bck-btn" routerLink="/home">Back</button>